@charset "utf-8";
html{font-size:125%}@media (min-width:320px){html{font-size:125%}}@media (min-width:321px){html{font-size:125.39063%}}@media (min-width:322px){html{font-size:125.78125%}}@media (min-width:323px){html{font-size:126.17188%}}@media (min-width:324px){html{font-size:126.5625%}}@media (min-width:325px){html{font-size:126.95313%}}@media (min-width:326px){html{font-size:127.34375%}}@media (min-width:327px){html{font-size:127.73438%}}@media (min-width:328px){html{font-size:128.125%}}@media (min-width:329px){html{font-size:128.51563%}}@media (min-width:330px){html{font-size:128.90625%}}@media (min-width:331px){html{font-size:129.29688%}}@media (min-width:332px){html{font-size:129.6875%}}@media (min-width:333px){html{font-size:130.07813%}}@media (min-width:334px){html{font-size:130.46875%}}@media (min-width:335px){html{font-size:130.85938%}}@media (min-width:336px){html{font-size:131.25%}}@media (min-width:337px){html{font-size:131.64063%}}@media (min-width:338px){html{font-size:132.03125%}}@media (min-width:339px){html{font-size:132.42188%}}@media (min-width:340px){html{font-size:132.8125%}}@media (min-width:341px){html{font-size:133.20313%}}@media (min-width:342px){html{font-size:133.59375%}}@media (min-width:343px){html{font-size:133.98438%}}@media (min-width:344px){html{font-size:134.375%}}@media (min-width:345px){html{font-size:134.76563%}}@media (min-width:346px){html{font-size:135.15625%}}@media (min-width:347px){html{font-size:135.54688%}}@media (min-width:348px){html{font-size:135.9375%}}@media (min-width:349px){html{font-size:136.32813%}}@media (min-width:350px){html{font-size:136.71875%}}@media (min-width:351px){html{font-size:137.10938%}}@media (min-width:352px){html{font-size:137.5%}}@media (min-width:353px){html{font-size:137.89063%}}@media (min-width:354px){html{font-size:138.28125%}}@media (min-width:355px){html{font-size:138.67188%}}@media (min-width:356px){html{font-size:139.0625%}}@media (min-width:357px){html{font-size:139.45313%}}@media (min-width:358px){html{font-size:139.84375%}}@media (min-width:359px){html{font-size:140.23438%}}@media (min-width:360px){html{font-size:140.625%}}@media (min-width:361px){html{font-size:141.01563%}}@media (min-width:362px){html{font-size:141.40625%}}@media (min-width:363px){html{font-size:141.79688%}}@media (min-width:364px){html{font-size:142.1875%}}@media (min-width:365px){html{font-size:142.57813%}}@media (min-width:366px){html{font-size:142.96875%}}@media (min-width:367px){html{font-size:143.35938%}}@media (min-width:368px){html{font-size:143.75%}}@media (min-width:369px){html{font-size:144.14063%}}@media (min-width:370px){html{font-size:144.53125%}}@media (min-width:371px){html{font-size:144.92188%}}@media (min-width:372px){html{font-size:145.3125%}}@media (min-width:373px){html{font-size:145.70313%}}@media (min-width:374px){html{font-size:146.09375%}}@media (min-width:375px){html{font-size:146.48438%}}@media (min-width:376px){html{font-size:146.875%}}@media (min-width:377px){html{font-size:147.26563%}}@media (min-width:378px){html{font-size:147.65625%}}@media (min-width:379px){html{font-size:148.04688%}}@media (min-width:380px){html{font-size:148.4375%}}@media (min-width:381px){html{font-size:148.82813%}}@media (min-width:382px){html{font-size:149.21875%}}@media (min-width:383px){html{font-size:149.60938%}}@media (min-width:384px){html{font-size:150%}}@media (min-width:385px){html{font-size:150.39063%}}@media (min-width:386px){html{font-size:150.78125%}}@media (min-width:387px){html{font-size:151.17188%}}@media (min-width:388px){html{font-size:151.5625%}}@media (min-width:389px){html{font-size:151.95313%}}@media (min-width:390px){html{font-size:152.34375%}}@media (min-width:391px){html{font-size:152.73438%}}@media (min-width:392px){html{font-size:153.125%}}@media (min-width:393px){html{font-size:153.51563%}}@media (min-width:394px){html{font-size:153.90625%}}@media (min-width:395px){html{font-size:154.29688%}}@media (min-width:396px){html{font-size:154.6875%}}@media (min-width:397px){html{font-size:155.07813%}}@media (min-width:398px){html{font-size:155.46875%}}@media (min-width:399px){html{font-size:155.85938%}}@media (min-width:400px){html{font-size:156.25%}}@media (min-width:401px){html{font-size:156.64063%}}@media (min-width:402px){html{font-size:157.03125%}}@media (min-width:403px){html{font-size:157.42188%}}@media (min-width:404px){html{font-size:157.8125%}}@media (min-width:405px){html{font-size:158.20313%}}@media (min-width:406px){html{font-size:158.59375%}}@media (min-width:407px){html{font-size:158.98438%}}@media (min-width:408px){html{font-size:159.375%}}@media (min-width:409px){html{font-size:159.76563%}}@media (min-width:410px){html{font-size:160.15625%}}@media (min-width:411px){html{font-size:160.54688%}}@media (min-width:412px){html{font-size:160.9375%}}@media (min-width:413px){html{font-size:161.32813%}}@media (min-width:414px){html{font-size:161.71875%}}@media (min-width:415px){html{font-size:162.10938%}}@media (min-width:416px){html{font-size:162.5%}}@media (min-width:417px){html{font-size:162.89063%}}@media (min-width:418px){html{font-size:163.28125%}}@media (min-width:419px){html{font-size:163.67188%}}@media (min-width:424px){html{font-size:165.625%}}@media (min-width:480px){html{font-size:187.5%}}@media (min-width:540px){html{font-size:210.9375%}}@media (min-width:600px){html{font-size:234.375%}}@media (min-width:720px){html{font-size:281.25%}}@media (min-width:768px){html{font-size:300%}}@media (min-width:800px){html{font-size:312.5%}}@media (min-width:900px){html{font-size:351.5625%}}@media (min-width:950px){html{font-size:371.09375%}}@media (min-width:1200px){html{font-size:468.75%}}@media (min-width:1600px){html{font-size:625%}}
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-user-select: none;
  user-select: none;
}
html * {
  outline: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{font-size:.6rem;font-family:'\5fae\8f6f\96c5\9ed1',simsun,Arial,sans-serif; color:#fff;background-color: #fff;}
label,input,select,textarea{font-family:Tahoma;vertical-align:middle;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,pre, form, fieldset, input, textarea, p, blockquote, th, td {padding:0;margin:0;}   
fieldset, img {border:0; vertical-align:middle;}   
table{border-collapse:collapse;border-spacing:0;}   
ol, ul {list-style:none;}   
address, caption, cite, code, dfn, em, strong, th, var {font-weight:normal;font-style:normal;}   
caption, th {text-align:left;}   
h1, h2, h3, h4, h5, h6 {font-size:100%;}   
q:before, q:after {content:'';}   
a{color:#666;text-decoration:none}
a:hover{ color:#1570A6;text-decoration:none;}
.clearfix{*zoom:1;}
.clearfix:after{content:'\20';display:block;height:0;clear:both;}
a,img,button,div{-webkit-tap-highlight-color:rgba(255,255,255,0);}
input,textarea{-webkit-appearance:none;}
img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
table {border-collapse:collapse;border-spacing:0;}
.wrap{position:relative;overflow:hidden;}
.wrap img{width: 100%;}
.top{
  position:absolute;
  left:0;
  top:0;
  width:100%;
}
.share-box{
  position:absolute;
  left:0;
  top:8.3rem;
  width:100%;
}
.icon-ren{
  position:absolute;
  left:0;
  top:0;
  width:4.325rem;
  height:5.15rem;
  background: url(../img/icon_ren.png) no-repeat;
  background-size:100% auto;
}
.btn-box{
  position: absolute;
  right: 0.35rem;
  top:0.55rem;
  width:4.825rem;
  height:4.175rem;
  background:url(../img/btn_share.png) no-repeat;
  background-size:100% auto;
}
.share-text{
  position:absolute;
  left:3.275rem;
  top:2.375rem;
  padding-left:1.45rem;
  width:8.65rem;
  height:1.375rem;
  line-height:1.375rem;
  color:#fff;
  font-size:0.6rem;
  background-color:#FD7B19;
}
.btn-box a{
  display: block;
  height:4.175rem;
  line-height:4.175rem;
}
.egg{
  position:absolute;
  left:0;
  top:11.95rem;
  width:100%;
  height: 6.575rem;
  /*background: url(../img/zd_03.png) no-repeat;*/
}
.eggList{margin:0 auto;width:14.25rem;text-align:center;}
.eggList ul{margin-top:1rem;position:relative;}
.eggList li{display:inline;position:relative;float:left;margin:0 .575rem;width:3.6rem;height:5.1rem;cursor:pointer;}
.eggList li.egg1{
  background:url(../img/egg1.png) no-repeat;
  background-size:100%;
}
.eggList li.egg2{
  background:url(../img/egg2.png) no-repeat;
  background-size:100%;
}
.eggList li.egg3{
  background:url(../img/egg3.png) no-repeat;
  background-size:100%;
}
.eggList li.curr{cursor:default;z-index:300;}
.eggList li.egg1.curr{
  background:url(../img/egg1_2.png) no-repeat;
  background-size:100%;
}
.eggList li.egg2.curr{
  background:url(../img/egg2_2.png) no-repeat;
  background-size:100%;
}
.eggList li.egg3.curr{
  background:url(../img/egg3_2.png) no-repeat;
  background-size:100%;
}

.hammer{background:url(../img/hammer.png) no-repeat;background-size:100%;width:2.35rem;height:2.35rem;position:absolute; text-indent:-9999px;z-index:1000;left:3.2rem;top:0;}

.btn-box2{padding-top:0.5rem;text-align:center;font-size:0.65rem;}
.btn-box2 a{
  display:inline-block;
  margin:0 0.15rem;
  width:5.25rem;
  height:1.375rem;
  line-height:1.375rem;
  color:#fff;
  text-align:center;
}
.btn-box2 .e-btn1{background-color:#F7B23A;}
.btn-box2 .e-btn2{background-color:#FF6B72;}
.btn-box2 .e-btn3{background-color:#FD7B19;}
.matter_txt{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
}
.matter_txt h2{
  height:0.925rem;
  background:url(../img/tit.png) center bottom no-repeat;
  background-size:100%;
}
.matter_txt .cont{
  padding:0 0.5rem 0.5rem;
  background-color:#5881A6;
}
.matter_txt .cont li{
  padding-top:0.5rem;
}
.pop_box{
  width:13.65rem;
}
.box-prize{position:relative;}
.box-prize img{width:100%;}
.btn_return{
  position:absolute;
  left:0;
  top:0;
  width:3.95rem;
  height:1.2rem;
  background:url(../img/btn_return.png) center top no-repeat;
  background-size:100% auto;
}
.pop_box1{
  height:7.725rem;
  background:url(../img/bg_pop1.png) center top no-repeat;
  background-size:100% auto;
}
.pop_box1 .btn-box2 {
  padding-top:5.6rem;
}
.pop_box2{
  height:6.425rem;
  background:url(../img/bg_pop2.png) center top no-repeat;
  background-size:100% auto;
}
.pop_box2 .btn-box2{
  padding-top:4.3rem;
}
.pop_box2 .e-btn1,.pop_box4 .e-btn1,.pop_box5 .e-btn1{
  width:9.85rem;
}
.pop_box3{
  height:6.425rem;
  background:url(../img/bg_pop3.png) center top no-repeat;
  background-size:100% auto;
}
.pop_box3 .btn-box2{
  padding-top:4.3rem;
}
.pop_box4{
  height:11.8rem;
  background:url(../img/bg_pop4.png) center top no-repeat;
  background-size:100% auto;
}
.form-box{
  padding-top:1.85rem;
}
.form-box h2{
  padding-top:0.3rem;
  font-size:0.625rem;
  text-align:center;
  color:#fd7b19;
}
.form-box h3{
  padding-top:0.3rem;
  font-size:0.625rem;
  text-align:center;
  color:#5881a6;
}
.popform{
  padding:0.3rem 0 0.15rem;
}
.popform li{
  *zoom:1;
  margin-top:0.3rem;
  color:#5881a6;
}
.popform li:after{content:'\20';display:block;height:0;clear:both;}
.popform li label{
  float:left;
  width:3.7rem;
  line-height:0.85rem;
  text-align:right;
}
.inputText{
  float:left;
  border:1px solid #DADADA;
  padding:0 0.15rem;
  width:8.3rem;
  height:0.85rem;
}
.pop_box5{
  height:10.475rem;
  background:url(../img/bg_pop5.png) center top no-repeat;
  background-size:100% auto;
}
.rec_list{padding:2.45rem 1.15rem 0.5rem;}
.rec_list li{padding-top:0.375rem;line-height:0.825rem;font-size:.6rem;color:#5881a6;}
.rec_list li .e-btn4{float:right;}
.e-btn4{
  width:2.95rem;
  height:0.825rem;
  line-height:0.825rem;
  color:#fff;
  text-align:center;
  background-color:#FD7B19;
}